/* You can add global styles to this file, and also import other style files */
.main-container {
  margin-top: 40px;
}

.drop-zone {
  border: dotted 6px lightgray;
  border-radius: 12px;
  opacity: 0.5;
  color: #666;
  text-align: center;
}

.file-over {
  border: dotted 6px dodgerblue;
}

.table {
  margin-top: 30px;
}

.green-text {
  color: green;
}
