<div class="row">
  <div class="col-md-4">
    <h3>Select file:</h3>
    <div
      appNgDropFiles
      [files]="files"
      (mouseOver)="isDropping = $event"
      [ngClass]="{ 'file-over': isDropping }"
      class="well drop-zone"
    >
      <h4>Drop your images</h4>
      <img src="assets/dragndrop.png" alt="dragndrop" />
    </div>
  </div>
  <div class="col-md-8">
    <h4>Upload files</h4>
    <button
      (click)="loadImages()"
      [disabled]="files.length === 0"
      class="btn btn-success"
    >
      Upload to Firebase
    </button>
    <button (click)="cleanFiles()" class="btn btn-danger">Clean</button>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Filename</th>
          <th>Size</th>
          <th>Progress</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files">
          <td>{{ file.fileName }}</td>
          <td>{{ file.file.size / 1024000 | number: ".2-2" }} MB</td>
          <td>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [ngStyle]="{ width: file.progress + '%' }"
              ></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
